<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="css/downloadmain.css">#}
    <link rel="stylesheet" href={% static 'css/downloadmain.css' %}>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="search">
                <div class="input-group">
                    <span class="input-group-addon">关键字：</span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                    </span>
                </div>
            </div>
            &emsp;
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <div class="col-md-2 col-xs-2 col-sm-2">
{#                        <img src="img/hjw.jpg" class="downloadimg">#}
                        <img src={% static 'image/hjw.jpg' %} class="downloadimg">
                    </div>
                    <h4 class="list-group-item-heading">
                        免费域名注册
                    </h4>
                    <span class="badge">积分：20</span>
                    <p class="list-group-item-text">
                        您将通过网页进行免费域名注册。
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <div class="col-md-2 col-xs-2 col-sm-2">
                        <img src={% static 'image/hjw.jpg' %} class="downloadimg">
                    </div>
                    <h4 class="list-group-item-heading">
                        24*7 支持
                    </h4>
                    <span class="badge">积分：20</span>
                    <p class="list-group-item-text">
                        我们提供 24*7 支持。
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <div class="col-md-2 col-xs-2 col-sm-2">
                        <img src={% static 'image/hjw.jpg' %} class="downloadimg">
                    </div>
                    <h4 class="list-group-item-heading">
                        免费域名注册
                    </h4>
                    <span class="badge">积分：20</span>
                    <p class="list-group-item-text">
                        您将通过网页进行免费域名注册。
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <div class="col-md-2 col-xs-2 col-sm-2">
                        <img src={% static 'image/hjw.jpg' %} class="downloadimg">
                    </div>
                    <h4 class="list-group-item-heading">24*7 支持</h4>
                    <span class="badge">积分：20</span>
                    <p class="list-group-item-text">我们提供 24*7 支持。</p>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-5 col-xs-5 col-sm-5">
                        <img src={% static 'image/hjw.jpg' %} class="img-responsive userimg">
                    </div>
                    <div class="col-md-7 col-xs-7 col-sm-7 username">
                        <h4>用户名</h4>
                    </div>
                </div>
                <div class="caption">
                    <h3>缩略图标签</h3>
                    <p>一些示例文本。一些示例文本。</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">按钮</a>
                        <a href="#" class="btn btn-default" role="button">按钮</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3">
            <div class="list-group">
                <span class="label label-primary download">下载排行</span>
                <a href="#" class="list-group-item">免费域名注册</a>
                <a href="#" class="list-group-item">24*7 支持</a>
                <a href="#" class="list-group-item">免费 Window 空间托管</a>
                <a href="#" class="list-group-item">图像的数量</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
                <a href="#" class="list-group-item">每年更新成本</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>