<!doctype html>
<html lang="zh-CN">
{% load static %}
 <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href={% static 'css/findresource.css' %} rel="stylesheet">

 </head>
 <body >
	<div class="container-fluid main">
		<div class="row">
			<div class="col-sm-2 bg-light" > 
				<h1>表单</h1>
				<form>
				  <div class="form-group">
					<label for="exampleInputEmail1" >年级</label>
					<input type="number" placeholder="2017" required="required"  min="2016" max="2019" class="form-control" >
					
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">学院</label>
					<input type="text" placeholder="计算机学院" class="form-control" required="required" >
				  </div>
				  <div class="form-group form-check">
					<input type="checkbox" class="form-check-input" required="required">
					<label class="form-check-label" for="exampleCheck1">确定</label>
				  </div>
				  <button type="submit" class="btn btn-primary">查询资料</button>
				</form>
			</div>
			<div class="col-sm-8">
				<h1>资料缩略图</h1>
				<div class="container-fuild">
					  <div class="row">
						<div class="col-md-4">
						  <div class="card mb-4 shadow-sm mt-4">
							<img class="rounded mx-auto d-block pt-2" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">
							<div class="card-body">
							  <p class="card-text" style="display:inline-block">编译原理</p>
							  <small class="text-muted float-right pt-1">未考试</small>
							  <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group" style="display:inline-block;">
								  <button type="button" class="btn btn-sm btn-outline-secondary">下载</button>
								</div>
								<small class="text-muted float-right">21天</small>
							  </div>
							</div>
						  </div>
						</div>
						<div class="col-md-4">
						  <div class="card mb-4 shadow-sm mt-4">
							<img class="rounded mx-auto d-block pt-2" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">
							<div class="card-body">
							  <p class="card-text" style="display:inline-block">计算机保密</p>
							  <small class="text-muted float-right pt-1">未考试</small>
							  <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group" style="display:inline-block;">
								  <button type="button" class="btn btn-sm btn-outline-secondary">下载</button>
								</div>
								<small class="text-muted float-right">2天</small>
							  </div>
							</div>
						  </div>
						</div>
						<div class="col-md-4">
						  <div class="card mb-4 shadow-sm mt-4">
							<img class="rounded mx-auto d-block pt-2" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">
							<div class="card-body">
							  <p class="card-text" style="display:inline-block">oracle原理与应用</p>
							  <small class="text-muted float-right pt-1">已考试</small>
							  <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group" style="display:inline-block;">
								  <button type="button" class="btn btn-sm btn-outline-secondary">下载</button>
								</div>
								<small class="text-muted float-right">结束</small>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
			    </div>
			</div>
			<div class="col-sm-2 bg-light">
				<h1>下载排行</h1>
				<div class="list-group">
               
                <small><a href="#" class="list-group-item">计算机安全保密2018年试卷</a></small>
                <small><a href="#" class="list-group-item">计算机安全保密2017年试卷</a></small>
                <small><a href="#" class="list-group-item">计算机安全保密2016年试卷</a></small>
                <small><a href="#" class="list-group-item">Linux原理与应用2018年试卷</a></small>
                <small><a href="#" class="list-group-item">Linux原理与应用2017年试卷</a></small>
            </div>

			</div>
		</div>
	</div>
 </body>
 </html>