.SignFlow-smsInputContainer {
    margin-top: 24px;
    border-bottom: 1px solid #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Register-content .SignFlow-smsInputContainer {
    border-bottom: 1px solid #ebebeb
}

html[data-theme=dark] .Register-content .SignFlow-smsInputContainer {
    border-bottom: 1px solid #444
}

.SignFlow-supportedCountriesSelectContainer {
    display: inline-block;
    min-width: 72px
}

.SignFlow-accountSeperator {
    width: 1px;
    height: 22px;
    margin: 0 12px;
    background: #ebebeb
}

html[data-theme=dark] .SignFlow-accountSeperator {
    background: #444
}

.SignFlowInput {
    position: relative
}

.SignFlowInput .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6
}

html[data-theme=dark] .SignFlowInput .Input-wrapper {
    color: #606a80
}

.SignFlowInput input.Input {
    height: 48px
}

.SignFlowInput-errorMask {
    position: absolute;
    right: 0;
    height: 90%;
    padding: 12px 0 0 20px;
    margin-top: -47px;
    font-size: 14px;
    color: #f1403c;
    text-align: right;
    cursor: text;
    background: #fff;
    opacity: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease
}

html[data-theme=dark] .SignFlowInput-errorMask {
    color: #b7302d;
    background: #1a1a1a
}

.SignFlowInput-errorMask:before {
    position: absolute;
    top: 0;
    left: -16px;
    width: 16px;
    height: 46px;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), to(#fff));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
    content: ""
}

html[data-theme=dark] .SignFlowInput-errorMask:before {
    background: -webkit-gradient(linear, left top, right top, from(rgba(26, 26, 26, 0)), to(#1a1a1a));
    background: linear-gradient(90deg, rgba(26, 26, 26, 0), #1a1a1a)
}

.SignFlowInput-errorMask--hidden {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0
}

.SignFlowInput-errorMask--hidden:before {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0
}

.SignFlowInput-requiredErrorMask {
    right: auto !important;
    width: 100%;
    padding-left: 0;
    text-align: left
}

.SignFlowInput-requiredErrorMask:before {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0
}

.SignContainer-content .SignFlow-accountInput.Input-wrapper, .SignContainer-content .SignFlow-accountInput.Input-wrapper.is-focus {
    border: none
}

.SignFlowInput .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6
}

html[data-theme=dark] .SignFlowInput .Input-wrapper {
    color: #606a80
}

.SignFlowInput .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6
}

html[data-theme=dark] .SignFlowInput .Input-wrapper {
    color: #606a80
}

.Register-content .Input-wrapper, .Register-content .Input-wrapper.is-focus {
    border: none
}

.Register-socialName .Input-wrapper, .Register-socialName .Input-wrapper.is-focus {
    border-bottom: 1px solid #ebebeb
}

html[data-theme=dark] .Register-socialName .Input-wrapper, html[data-theme=dark] .Register-socialName .Input-wrapper.is-focus {
    border-bottom: 1px solid #444
}

.SignContainer-content .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6;
    border-bottom: 1px solid #ebebeb;
    border-radius: 50px 50px 50px 50px
}

html[data-theme=dark] .SignContainer-content .Input-wrapper {
    color: #606a80;
    border-bottom: 1px solid #444
}

.SignContainer-content .Input-wrapper.is-focus {
    border: none;
    border-bottom: 1px solid #ebebeb
}

html[data-theme=dark] .SignContainer-content .Input-wrapper.is-focus {
    border-bottom: 1px solid #444
}

.SignContainer-content .SignFlow-accountInput.Input-wrapper, .SignContainer-content .SignFlow-accountInput.Input-wrapper.is-focus {
    border: none
}
