.Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html[data-theme=dark] .Card {
    background: #1a1a1a;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

.Card:last-child {
    margin-bottom: 0
}

.Card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html[data-theme=dark] .Card-header {
    border-bottom: 1px solid #2e2e2e
}

.Card-header:last-child {
    border-bottom: none
}

.Card-headerText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-synthesis: style
}

html[data-ios] .Card-headerText {
    font-weight: 500
}

html[data-android] .Card-headerText {
    font-weight: 700
}

.Card-section {
    padding: 16px 20px;
    position: relative
}

.Card-section + .Card-section:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 20px;
    display: block;
    border-bottom: 1px solid #f6f6f6;
    content: ""
}

html[data-theme=dark] .Card-section + .Card-section:after {
    border-bottom: 1px solid #2e2e2e
}

.SignFlowHomepage .Card {
    overflow: visible
}

.SignFlowHomepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../img/logonbackground.jpeg");
    background-repeat: no-repeat;
    background-color: #b8e5f8;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto
}

.SignFlowHomepage .Card {
    overflow: visible
}

.SignFlowHomepage-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 2px;
    min-height: 688px;
    height: calc(100% - 42px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.SignFlowHomepage-downloadBtn {
    background: #fff;
    border: none;
    color: #0084ff;
    width: 400px;
    height: 42px;
    margin-top: 14px
}

html[data-theme=dark] .SignFlowHomepage-downloadBtn {
    background: #1a1a1a;
    color: #3a76d0
}

.SignFlowHomepage-downloadBtn > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.SignFlowHomepage-downloadBtn svg {
    margin-right: 11px
}

.SignFlowHomepage-qrImage {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    -webkit-transition: opacity .3s, height .3s;
    transition: opacity .3s, height .3s
}

.SignFlowHomepage-qrImage div {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    background-size: 250px 250px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(https://www.zhihu.com/static/revved/img/index/qr-code@2x.2607d448.png);
    -webkit-box-shadow: 0 0 8px 0 rgba(26, 26, 26, .15);
    box-shadow: 0 0 8px 0 rgba(26, 26, 26, .15);
    border-radius: 2px
}

html[data-theme=dark] .SignFlowHomepage-qrImage div {
    background-color: #1a1a1a;
    -webkit-box-shadow: 0 0 8px 0 hsla(0, 0%, 60%, .15);
    box-shadow: 0 0 8px 0 hsla(0, 0%, 60%, .15)
}

.SignFlowHomepage-qrImage:after, .SignFlowHomepage-qrImage:before {
    content: "";
    position: absolute;
    bottom: -7px;
    -webkit-transform: translate(-50%) rotate(45deg);
    transform: translate(-50%) rotate(45deg);
    left: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 4px
}

html[data-theme=dark] .SignFlowHomepage-qrImage:after, html[data-theme=dark] .SignFlowHomepage-qrImage:before {
    background: #1a1a1a
}

.SignFlowHomepage-qrImage:after {
    -webkit-box-shadow: 0 0 8px 0 rgba(26, 26, 26, .15);
    box-shadow: 0 0 8px 0 rgba(26, 26, 26, .15);
    z-index: -1
}

html[data-theme=dark] .SignFlowHomepage-qrImage:after {
    -webkit-box-shadow: 0 0 8px 0 hsla(0, 0%, 60%, .15);
    box-shadow: 0 0 8px 0 hsla(0, 0%, 60%, .15)
}

.SignFlowHomepage-qrImageHidden {
    opacity: 0;
    height: 0;
    bottom: 0
}

.SignFlowHomepage-qrImageHidden:after, .SignFlowHomepage-qrImageHidden:before {
    display: none
}

.SignFlowHomepage-logo {
    width: 245px;
    height: 78px;
    margin-bottom: 24px
}

.SignFlowHomepage-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 2px;
    min-height: 688px;
    height: calc(100% - 42px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.SignContainer-content {
    opacity: 0;
    width: 400px;
    margin: 0 auto;
    text-align: center
}

.SignContainer-content .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6;
    border-bottom: 1px solid #ebebeb;
    border-radius: 50px 50px 50px 50px
}

html[data-theme=dark] .SignContainer-content .Input-wrapper {
    color: #606a80;
    border-bottom: 1px solid #444
}

.SignContainer-content .Input-wrapper.is-focus {
    border: none;
    border-bottom: 1px solid #ebebeb
}

html[data-theme=dark] .SignContainer-content .Input-wrapper.is-focus {
    border-bottom: 1px solid #444
}

.SignContainer-content .SignFlow-accountInput.Input-wrapper, .SignContainer-content .SignFlow-accountInput.Input-wrapper.is-focus {
    border: none
}

.SignContainer-content input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset
}

.SignContainer-content .SignFlow-captchaContainer:not(.Captcha-chinese), .SignContainer-content .SignFlow-password, .SignContainer-content .SignFlow-username {
    border-bottom: 1px solid #ebebeb
}

html[data-theme=dark] .SignContainer-content .SignFlow-captchaContainer:not(.Captcha-chinese), html[data-theme=dark] .SignContainer-content .SignFlow-password, html[data-theme=dark] .SignContainer-content .SignFlow-username {
    border-bottom: 1px solid #444
}

.SignContainer-content .SignFlow-captchaContainer:not(.Captcha-chinese) .Input-wrapper, .SignContainer-content .SignFlow-password .Input-wrapper, .SignContainer-content .SignFlow-username .Input-wrapper {
    border-bottom: none !important
}

.SignContainer-inner {
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    overflow: hidden
}

.Login-content {
    padding: 0 24px 84px
}

.SignFlow-account {
    margin-top: 24px;
    border-bottom: 1px solid #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

html[data-theme=dark] .SignFlow-account {
    border-bottom: 1px solid #444
}

.SignFlow-supportedCountriesSelectContainer {
    display: inline-block;
    min-width: 72px
}

.SignFlow-accountSeperator {
    width: 1px;
    height: 22px;
    margin: 0 12px;
    background: #ebebeb
}

html[data-theme=dark] .SignFlow-accountSeperator {
    background: #444
}

.SignFlow-supportedCountriesSelectContainer {
    display: inline-block;
    min-width: 72px
}

.SignFlow-accountSeperator {
    width: 1px;
    height: 22px;
    margin: 0 12px;
    background: #ebebeb
}

html[data-theme=dark] .SignFlow-accountSeperator {
    background: #444
}

.SignFlowInput {
    position: relative
}

.SignFlowInput .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6
}

html[data-theme=dark] .SignFlowInput .Input-wrapper {
    color: #606a80
}

.SignFlowInput input.Input {
    height: 48px
}

.SignFlowInput-errorMask {
    position: absolute;
    right: 0;
    height: 90%;
    padding: 12px 0 0 20px;
    margin-top: -47px;
    font-size: 14px;
    color: #f1403c;
    text-align: right;
    cursor: text;
    background: #fff;
    opacity: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease
}

html[data-theme=dark] .SignFlowInput-errorMask {
    color: #b7302d;
    background: #1a1a1a
}

.SignFlowInput-errorMask:before {
    position: absolute;
    top: 0;
    left: -16px;
    width: 16px;
    height: 46px;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), to(#fff));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
    content: ""
}

html[data-theme=dark] .SignFlowInput-errorMask:before {
    background: -webkit-gradient(linear, left top, right top, from(rgba(26, 26, 26, 0)), to(#1a1a1a));
    background: linear-gradient(90deg, rgba(26, 26, 26, 0), #1a1a1a)
}

.SignFlowInput-errorMask--hidden {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0
}

.SignFlowInput-errorMask--hidden:before {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0
}

.SignFlowInput-requiredErrorMask {
    right: auto !important;
    width: 100%;
    padding-left: 0;
    text-align: left
}

.SignFlowInput-requiredErrorMask:before {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0
}

.SignFlow-accountInputContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden
}

.SignContainer-content .SignFlow-accountInput.Input-wrapper, .SignContainer-content .SignFlow-accountInput.Input-wrapper.is-focus {
    border: none
}

.SignFlowHomepage-logo {
    width: 245px;
    height: 78px;
    margin-bottom: 24px
}