<!--
layout: examples
title: Dashboard Template
extra_css: "dashboard.css"
extra_js:
  - "https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
  - "dashboard.js"
-->
{% load static %}
<!doctype html>
<html lang="zh-CN">
 <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href={% static 'css/user.css'%} rel="stylesheet">
 </head>
 <body>
	<!--
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
	  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
	  <ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
		  <a class="nav-link" href="#">Sign out</a>
		</li>
	  </ul>
	</nav>
	-->

	<div class="container-fluid">
	  <div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		  <div class="sidebar-sticky">
		    <a class="nav-link active" href="#">
				<img class="img-fluid img-thumbnail" src="/static/image/{{ user_portrait }}" alt="头像" width="100" height="100">
			</a>
			<p class="mb-4 h5 nav-link text-secondary">{{ username }}</p>
			<ul class="nav flex-column ">
			  <li class="nav-item">
				<a class="nav-link active text-info" href="#info">
				  个人信息 
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-info" href="#download">
				  已下载资料
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-info" href="#upload">
				  已上传资料
				</a>
			  </li>
			</ul>
		  </div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		  <div class="personalPage d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2		mb-3 border-bottom">
			<h1 class="h2 text-center">个人主页</h1>
			<div class="btn-toolbar mb-2 mb-md-0">

			</div>
		  </div>
			<a name = "info"></a>
		  <p>昵称：{{nickname}}</p>
		  <p>邮箱：{{email}}</p>
		  <p>积分：{{points}}</p>
		  <p>注册时间： {{date}} </p>
            <form action={% url 'base:receive_portrait' %} method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="file" name="portrait">
                <input type="submit" value="ok">
            </form>
		  <div class="downloadPage mt-5">
			  <a name = 'download'></a>
			<h1 class="h2 mb-3" >我的下载</h1>
			<div class="album bg-light">
					<div class="container">
						{% for file in dfiles %}
					  <div class="row">
						<div class="col-md-4">
						  <div class="card mb-4 shadow-sm mt-4">
							<img class="rounded mx-auto d-block" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">
							<div class="card-body">
							  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							  <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
								  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
								  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							  </div>
							</div>
						  </div>
						</div>
						  {% empty %}
						  <p>你还没有下载过文件！</p>
						  {% endfor %}
						<!--<div class="col-md-4">-->
						  <!--<div class="card mb-4 shadow-sm mt-4">-->
							<!--<img class="rounded mx-auto d-block" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">-->
							<!--<div class="card-body">-->
							  <!--<p class="card-text">{{ufiles[0}.title}</p>-->
							  <!--<div class="d-flex justify-content-between align-items-center">-->
								<!--<div class="btn-group">-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
								<!--</div>-->
								<!--<small class="text-muted">9 mins</small>-->
							  <!--</div>-->
							<!--</div>-->
						  <!--</div>-->
						<!--</div>-->
						<!--<div class="col-md-4">-->
						  <!--<div class="card mb-4 shadow-sm mt-4">-->
							<!--<img class="rounded mx-auto d-block" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">-->
							<!--<div class="card-body">-->
							  <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
							  <!--<div class="d-flex justify-content-between align-items-center">-->
								<!--<div class="btn-group">-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
								<!--</div>-->
								<!--<small class="text-muted">9 mins</small>-->
							  <!--</div>-->
							<!--</div>-->
						  <!--</div>-->
						<!--</div>-->
            </div>
		  </div>
		  <div class="uploadPage ">
			  <a name = 'upload'></a>
			<h1 class="h2 pt-3 pb-3 bg-white ">我的上传</h1>
			<div class="album bg-light">
					<div class="container">

					  <div class="row">
						  {% for file in ufiles %}
						<div class="col-md-4">
						  <div class="card mb-4 shadow-sm mt-4">
							<img class="rounded mx-auto d-block" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">
							<div class="card-body">
							  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							  <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
								  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
								  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							  </div>
							</div>
						  </div>
						</div>
						  {% empty %}
						  <p>你还没有下载过文件</p>
						  {% endfor %}
						<!--<div class="col-md-4">-->
						  <!--<div class="card mb-4 shadow-sm mt-4">-->
							<!--<img class="rounded mx-auto d-block" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">-->
							<!--<div class="card-body">-->
							  <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
							  <!--<div class="d-flex justify-content-between align-items-center">-->
								<!--<div class="btn-group">-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
								<!--</div>-->
								<!--<small class="text-muted">9 mins</small>-->
							  <!--</div>-->
							<!--</div>-->
						  <!--</div>-->
						<!--</div>-->
						<!--<div class="col-md-4">-->
						  <!--<div class="card mb-4 shadow-sm mt-4">-->
							<!--<img class="rounded mx-auto d-block" src={% static 'image/user.png' %} alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">-->
							<!--<div class="card-body">-->
							  <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
							  <!--<div class="d-flex justify-content-between align-items-center">-->
								<!--<div class="btn-group">-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
								<!--</div>-->
								<!--<small class="text-muted">9 mins</small>-->
							  <!--</div>-->
							<!--</div>-->
						  <!--</div>-->
						<!--</div>-->
            </div>
 		  </div>
		  

		</main>
	  </div>
	</div>



 <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
 crossorigin="anonymous"></script>
 <script src="./js/dashboard.js" crossorigin="anonymous"></script>
 </body>
</html>

