<!--
layout: examples
title: Dashboard Template
extra_css: "dashboard.css"
extra_js:
  - "https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
  - "dashboard.js"
-->
{% load static %}
<!doctype html>
<html lang="zh-CN">
 <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href={% static 'css/user.css'%} rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
	$("#headImage").click(function(){
		$("#headImgChange").click();
		/*sleep(10000);
		if (document.getElementById("headImgChange").value != "")
		{
			console.log("dsfhujugsjfdas");
			$("#imgUpload").click();
		}*/
		
		
	});
	$("#headImgChange").hide();
	/*$("#imgUpload").hide();*/
});
</script>
 </head>
 <body>
	<!--
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
	  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
	  <ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
		  <a class="nav-link" href="#">Sign out</a>
		</li>
	  </ul>
	</nav>
	-->

	<div class="container-fluid">
	  <div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		  <div class="sidebar-sticky">
		  	 <form action= {% url 'base:receive_portrait' %} method="post" enctype="multipart/form-data">
				 <div class="form-group">
					 <a class="nav-link active" href="#">
						<img class="img-fluid img-thumbnail h" id="headImage" src="/static/image/{{ user_portrait }}" alt="头像" width="100" height="100">
						<input id="headImgChange" type="file" name="portrait">
					</a>
				 </div>
				  <div class="form-group nav-link">
					<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
					<button class=" btn btn-primary" id="imgUpload" stype="" type="submit" text="上传头像"> 上传头像</button>
				 </div>
            </form>
		    
			<p class="mb-4 h5 nav-link text-secondary">{{ username }}</p>
			<ul class="nav flex-column ">
			  <li class="nav-item">
				<a class="nav-link active text-info" href="#info">
				  个人信息 
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-info" href="#download">
				  已下载资料
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-info" href="#upload">
				  已上传资料
				</a>
			  </li>
			</ul>
		  </div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		  <div class="personalPage pt-3 pb-2 mb-3 border-bottom">
		  	<a name='info'></a>
			
			<h1 class="h2">个人主页</h1>
		  </div>
		  <div>
		   <div class="mb-3"> 
		    <div class="personalInfo" >昵称</div>
			<div class="personalData" >{{ user.username }}</div>
		   </div>
		   <div class="mb-3"> 
		    <div class="personalInfo" >邮箱</div>
			<div class="personalData" >{{ user.email }}</div>
		   </div>
		   <div class="mb-3"> 
		    <div class="personalInfo" >积分</div>
			<div class="personalData" >{{ user.points }}</div>
		   </div>
		   <div class="mb-3"> 
		    <div class="personalInfo" >注册时间</div>
			<div class="personalData">{{ user.date_joined }}</div>
		   </div>
		  </div>
		  <div class= " pt-3 pb-2 mb-3">
		   <h1 class="h2">上传文件</h1>
		  </div>
          <form action='upload/' method="post" enctype="multipart/form-data"">
			<div class="form-row ">
			 <div class="col-md-4 mb-3">
			  <label for="uploadFileName">文件名</label>
			  <input class="form-control" type="text" id="uploadFileName" name="filename"/ value="aa.txt">
			 </div>
			 <div class="col-md-4 mb-3">
			  <label for="uploadFileYear">年份</label>
			  <input class="form-control" type="number" id="uploadFileYear" name = 'year'/ value="2019">
			 </div>
			 <div class="col-md-4 mb-3">
			  <label for="uploadFileDept">学院</label>
			  <input class="form-control" type="text" id="uploadFileDept" name="dept"/ value="计算机学院">
			 </div>
			</div>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
             <input  type="file" name="upload_file" class="float-left">
			 <button class="float-right btn btn-primary" type="submit"> 上传文件 </button>
		 </form>
		  <div class="downloadPage mt-5">
			  <a name = 'download'></a>
			<h1 class="h2 mb-3" >我的下载</h1>
			<div class="album bg-light">
					<div class="container">

					  <div class="row">
						  {% for file in dfiles %}
						<div class="col-md-4">
						  <div class="card mb-4 shadow-sm mt-4">
							<img class="rounded mx-auto d-block" src="/static/image/{{ file.upload_user.portrait }}" alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">
							<div class="card-body">
							  <p class="card-text">文件名: {{ file.title }}</p>
								<p class="card-text">上传自: {{ file.upload_user.username }}</p>
								<p class="card-text">分类: {{ file.department }}, {{ file.year }}</p>
								<p class="card-text">上传日期: {{ file.upload_time|date:"Y-m-d H:i:s" }}</p>
							  <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="download/{{ file.uid }}"><button type="button" class="btn btn-sm btn-outline-secondary">下载</button></a>
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
								</div>
								<small class="text-muted">已被下载{{ file.download_count }}次</small>
							  </div>
							</div>
						  </div>
						</div>
						  {% empty %}
						  <p>你还没有下载过文件！</p>
						  {% endfor %}
            </div>

		  </div>
			</div>
		  <div class="uploadPage ">
			  <a name = 'upload'></a>
			<h1 class="h2 pt-3 pb-3 bg-white ">我的上传</h1>
			<div class="album bg-light">
					<div class="container">
					  <div class="row">
						  {% for file in ufiles %}
						<div class="col-md-4">
						  <div class="card mb-4 shadow-sm mt-4">
							<img class="rounded mx-auto d-block" src="/static/image/{{ file.upload_user.portrait }}" alt="头像" width="30%"  background="#55595c" color="#eceeef"  text="Thumbnail">
							<div class="card-body">
							  <p class="card-text">文件名: {{ file.title }}</p>
								<p class="card-text">上传自: {{ file.upload_user.username }}</p>
								<p class="card-text">分类: {{ file.department }}, {{ file.year }}</p>
								<p class="card-text">上传日期: {{ file.upload_time|date:"Y-m-d H:i:s" }}</p>
							  <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
								  <a href="download/{{ file.uid }}"><button type="button"  class="btn btn-sm btn-outline-secondary">下载</button></a>
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
								</div>
								<small class="text-muted">已被下载{{ file.download_count }}次</small>
							  </div>
							</div>
						  </div>
							</div>
						  {% empty %}
						  <p>您还没有上传过文件</p>
						  {% endfor %}
            </div>
 		  </div>


	  </div>

	</div>




 <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
 crossorigin="anonymous"></script>
 <script src="./js/dashboard.js" crossorigin="anonymous"></script>
 </body>
</html>

